.topnav {
    overflow: hidden;
    background-color: #1C1C1C;
    padding-right: 10rem;
    opacity: 1;
  }
  
.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 55px 35px;
    text-decoration: none;
    font-size: 2vmin;
}
  
.topnav a:hover {
    box-shadow: inset 0 -4px 0 0 #E27866;
    opacity: 1;
  }
  
.topnav a.active {
    color: #FFFFFF;
}
  
.topnav-right {
    float: right;
}
  
.navpic{
    padding-left: 10rem;
    padding-top: 15px;
    height: 8vmin;
    opacity: 1;
}